
<div class="modal fade bs-modal-lg in" id="mdl_error_message" tabindex="-1" role="dialog" aria-hidden="true">
    <div class="modal-dialog modal-sm">
        <div class="modal-content">
            <div class="modal-header bg-red-intense size">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true"></button>
                <h4 id="mdl_error_title" class="modal-title">&nbsp;</h4>
            </div>
            <div class="modal-body">
                <h5 class="form-section" id="mdl_error_body">Missing Required Fields</h5>
            </div>
        </div>
    </div>
</div>