
<div class="page-footer">
    <div class="page-footer-inner">
        @DateTime.Now.Year &copy; <a href="http://seiko-it.com.ph/" title="" target="_blank" style="color:#fff;">Seiko-IT Solution</a>
    </div>
    <div class="scroll-to-top">
        <i class="icon-arrow-up"></i>
    </div>
</div>
<div id="preloader">
    <div class="inner">
        <span class="loader"></span>
    </div>
</div>