
@{
    ViewBag.Title = "Dashboard";
    ViewBag.iconName = "fa fa-dashboard";
    Layout = "~/Views/Shared/MainLayout/_MainLayout.cshtml";
}
@section css{
    @Styles.Render("~/MasterMaintenanceHome-CSS")
}
<h1>Dashboard</h1>
@section scripts{
    @Scripts.Render("~/MasterMaintenanceHome-JS")
}
